<ion-header>
  <ion-toolbar color="thapsblue">
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light" defaultHref="#"  ></ion-back-button>
    </ion-buttons>
    <ion-title>{{(bannerDetail | async)?.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <!--*********** Image header  ***********-->
  <div class="detail-header" [ngStyle]="{'background-image': 'url(' + (bannerDetail | async)?.pic + ')'}">
  </div>
  <!--*********** Title  ***********-->
  <div class="travel_space1">
    <ion-item lines="none">
      <ion-label text-wrap>
        <h1 class="main-b-header7">{{(bannerDetail | async)?.title}}</h1>
        <!-- <h2 class="travel_header3 detail-price "> </h2> -->
        <div class="main-header8-500" [innerHTML]="(bannerDetail | async)?.message"></div>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="full" color="warning" (click)="openSearchModal()">Start Search</ion-button>
  </ion-toolbar>
</ion-footer>