<ion-content fullscreen="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button mode="ios" size="small" color="thapsblue" translucent="true" (click)="close()">
      <ion-icon name="close-circle-outline" color="lightgray"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!--*********** Image header  ***********-->
  <div class="detail-header" [ngStyle]="{'background-image': 'url(' + (bannerDetail | async)?.pic + ')'}">
  </div>
  <!--*********** Title  ***********-->
  <div class="travel_space1">
    <ion-item lines="none">
      <ion-label text-wrap>
        <h1 class="main-b-header7">{{(bannerDetail | async)?.title}}</h1>
        <!-- <h2 class="travel_header3 detail-price "> </h2> -->
        <div class="main-header8-500" [innerHTML]="(bannerDetail | async)?.message"></div>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="full" color="warning" (click)="openSearchModal()">Start Search</ion-button>
  </ion-toolbar>
</ion-footer>