<ion-header>
	
	<ion-item lines="none" *ngIf="agent">
		<ion-avatar slot="start">
				<img src="{{agent?.photoURL}}" (load)="updateDisplayPicLoaded()" [hidden]="!agent?.dp_loaded">
			<img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg" [hidden]="agent?.dp_loaded">
		</ion-avatar>
		<ion-label>
			<p>
			Your Agent is:
			</p>
			<h2>
			{{ agent.firstname }} 
			</h2>
			<p class="ion-text-wrap">
			Waiting for {{ agent.firstname }}  to accept the job
			</p>
		</ion-label>
	</ion-item>
	  
	<ion-item lines="none" *ngIf="!agent">
		<ion-avatar slot="start">
			<ion-icon name="radio-outline" style="font-size: 3em;" color="thapslightblue"></ion-icon>
		</ion-avatar>
		<ion-label>
			<h2 class="ion-text-wrap ion-text-center">
			<ion-text color="medium">Looking for available agent...</ion-text>
			</h2>
		</ion-label>
	</ion-item>
		
	<ion-button expand="block" class="ion-margin ion-text-wrap" color="thapsblue" mode="ios" (click)="gotoResults()" >
		Browse Accommodations By Yourself
		<ion-icon slot="end" color="light" name="chevron-forward-outline"></ion-icon>
	</ion-button>
</ion-header>

<ion-content>
  <div class="gmap" #map id="map">
  </div>
	<div class="razar">
  		<div class="ringbase ring1"></div>
  		<div class="ringbase ring2"></div>
  		<div class="pulse"></div>
  		<div *ngIf="!scanning_done" class="pointer">
    		<div></div>
  		</div>
  		<div class="dot pos1"></div>

  		<div class="dot pos2"></div>
		
  		<div class="dot pos3"></div>
		
  		<div class="dot pos4"></div>
		
  		<div class="dot pos5"></div>
		
  		<div class="dot pos6"></div>

		<div class="dot pos8"></div>

		<div class="dot pos9"></div>
		
		<div class="dot pos10"></div>
		  
	</div>
	
</ion-content>


