<ion-header>
  <ion-toolbar color="thapsblue">
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light" defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>My Chats</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container" *ngIf="chats.length == 0">
    <ion-icon name="bulb-outline" class="empty-icon-circle icon-large empty-icon-color"></ion-icon>
    <br>
    <strong class="capitalize">
      <ion-text color="lightgray">No Chats</ion-text>
    </strong>
   <!--  <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p> -->
  </div>
  <ion-item *ngFor="let chat of chats; let i = index" (click)="gotoThread(chat.thread_id)" class="ion-margin">
    <ion-avatar slot="start">
      <img src="{{chat.agent?.photoURL}}" (load)="updateDisplayPicLoaded(i)" [hidden]="!chat.agent?.dp_loaded">
			<img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg" [hidden]="chat.agent?.dp_loaded">
    </ion-avatar>
    <ion-label>
      <h3>
        {{ chat.agent.firstname }} 
      </h3>
      <p>
        {{chat.last_message.message}}
      </p>
      
    </ion-label>
    <ion-note slot="end">{{timeAgo(chat.last_update)}} </ion-note>
  </ion-item>
</ion-content>
