<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar color="thapsblue">
    <ion-title>
      <h1 class="main-header4">Clickinn</h1>
    </ion-title>
    <!-- <ion-buttons slot="start" >
      <ion-menu-button auto-hide="false" color="thapsblue"></ion-menu-button>
    </ion-buttons>
    

    <ion-buttons slot="end">
      <ion-button class="badge-button" color="thapsblue">
        Agents
        <ion-icon name="cart-outline" color="warning">
        </ion-icon>
        <ion-badge class="badge-one" color="danger" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="badge-button" (click)="gotoSignin()" color="thapsblue">
        <ion-icon name="person-circle-outline" color="warning">
        </ion-icon>
        Landlords
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="badge-button" (click)="gotoSignin()" color="thapsblue">
        <ion-icon name="person-circle-outline" color="warning">
        </ion-icon>
        Students
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>



<ion-content no-padding>

  <!-- ############################################# Updated #################################################-->
  <!-- ##  -Fixed attribute tells Ionic’s grid to use the max-width corresponding to the current breakpoint ## -->
  <!-- ##  -To edit breakpoint go to variables.css and edit --ion-grid-width- : value  ###-->
  <!-- ####################################################################################################### -->
  <ion-grid fixed class="ion-no-padding">
    <h5 class="ion-text-center main-header5 ion-margin-horizontal">Africa's online accommodation call-center</h5>
    <ion-grid fixed class="ion-no-padding ion-margin-bottom ion-padding-horizontal">
      <ion-button mode="ios" (click)="openSearchModal(user.uid)" expand="block" color="thapsblue" fill="outline">
        <ion-icon name="search-outline" slot="end" color="thapsblue"></ion-icon>
        Get Started
      </ion-button>
    </ion-grid>
      <!--*********** Banner  ***********-->

      <div class="horizontal-scroll-banner slide-left ">
        <ion-card tappable class="shop-main-h-card shop-banner " *ngFor="let bi of banners; let i = index" (click)="openSpecialModal(bi.id)" >
              <div class="shop-banner-bg ion-text-uppercase" [ngStyle]="{'background-image': 'url(' + bi?.pic+ ')'}" >
                <!-- <div *ngIf="banner.special" class="ribbon">{{banner.special_message}}</div> -->
                  <p class="card2-title ion-text-wrap"> {{bi?.title}}</p>                           
              </div>
        </ion-card>
      </div>

      <!--*********** Recommened ***********-->
      <ion-item lines="none">
        <h1 class="main-header5">Recommended Places</h1>
      </ion-item>

      <ion-slides class="swiper-container" pager= false [options]="slideOption" #slidesTwo mode="ios">
        <ion-slide tappable  *ngFor="let rec of recommended" (click)="openDetail(rec?.room_id)"> 
          <ion-card class="shop-main-h-card shop-card-tall   slide-right">
            <!-- <div *ngIf="recommended.discount" class="ribbon">SALE</div> -->
            <div class="shop-div-tall-bg" [ngStyle]="{'background-image': 'url(' + rec.display_pic_url+ ')'}"> </div>
            <!--<div class="ion-margin-top">{{recommended.name}}</div>
                    <ion-icon  style="font-size: 14px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < recommended.rating  ? 'star' : 'star-outline'"></ion-icon>
                    <div class="main-b-header7" color="green">${{recommended.price}}</div> -->
            <div class="ion-margin-top main-header8" text-wrap>{{rec.property?.address.neighbourhood}}</div>
            <ion-icon style="font-size: 12px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]"
              [name]="i < 3  ? 'star' : 'star-outline'"></ion-icon>
            <div class="main-b-header9">
              <ion-text color="grey"> {{rec.rent | currency : 'R'}}</ion-text>
            </div>
            <!-- <div class="margin-bottom-10"></div> -->
          </ion-card>
        </ion-slide>
      </ion-slides>


      <!--*********** Category  ***********-->
      

      <!-- <ion-list-header class="margin-bottom-10">
        <ion-label class="margin-top-3 main-header5">Category</ion-label>
        <ion-button color="dark" size="small" routerLink="/shopping-category">more</ion-button>
        [ngStyle]="{'background-image': 'url( ../assets/imgs/SA_Land.jpg)'}"
      </ion-list-header> -->

      <ion-item lines="none">
        <h1 class="main-header5">Partner with us</h1>
      </ion-item>

      <ion-slides class="swiper-container slide-left" pager= false [options]="slideOption" #slidesThree mode="ios">
        
        <ion-slide (click)="openRoleModal(1)"> 
          <ion-card  class="shop-main-h-card shop-card-s-wide " >
                  <div class="shop-card-s-wide-bg ion-text-uppercase">
                      <h2 class="shop-card-s-wide-title"> Landlords</h2>                           
                  </div>
          </ion-card>
        </ion-slide>
        <ion-slide (click)="openRoleModal(1)"> 
          <ion-card  class="shop-main-h-card shop-card-s-wide " >
                  <div class="shop-card-s-wide-bg ion-text-uppercase">
                      <h2 class="shop-card-s-wide-title"> Agents</h2>                           
                  </div>
          </ion-card>
        </ion-slide>
        <ion-slide (click)="openRoleModal(1)"> 
          <ion-card  class="shop-main-h-card shop-card-s-wide " >
                  <div class="shop-card-s-wide-bg ion-text-uppercase">
                      <h2 class="shop-card-s-wide-title ion-text-wrap"> Maintenance</h2>                           
                  </div>
          </ion-card>
        </ion-slide>
      </ion-slides>  

      <div class="margin-bottom-10"></div>

  </ion-grid>
</ion-content>