<ion-header class="ion-no-border">
  <ion-toolbar color="thapsblue">
    <ion-title  class="main-header4">SIGN IN</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="orange"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title slot="start" class="main-header4">SIGNIN</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid class="ion-no-padding" style="background-color: transparent;">
    
      <div class="register-form ion-margin" style="background-color: transparent;">
          <ion-text color="dark">
              <h2 text-center class="ion-margin-bottom main-header7">
                  Welcome to Clickinn
              </h2>
          </ion-text>
          <form [formGroup]="registerForm" novalidate>
  <!--  -->
            <ion-list class="ion-margin-top ion-padding" style="background-color: transparent;">
              <!-- ############ -->
              
              <!-- ############ -->
              
              <!-- ############ -->
              

              <!-- ############ -->
              <ion-item  class="roundedInput8px margin-bottom-10" style="background-color: transparent;">
                  <ion-label>
                    <ion-icon name="mail-outline" color="medium"></ion-icon>
                    </ion-label>
                  <ion-input type="text" formControlName="username" placeholder="Username(email)"></ion-input>
                </ion-item>
    


              <!-- ############ -->                              
              <ion-item  class="roundedInput8px margin-bottom-10" style="background-color: transparent;">

                <ion-label slot="start" class="margin-right-8">
                  <ion-icon name="lock-closed-outline" color="medium"></ion-icon>
                  </ion-label>

                <ion-input type="text" formControlName="password" placeholder="Password" [type]="showPassword ? 'text' : 'password'" clearOnEdit="false"></ion-input>

                    <!-- ### Show/hide password ### -->    
                    <div (click)="onPasswordToggle()" ion-button fill="clear" size="small" >
                      <ion-icon  slot="icon-only" color="medium" [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
                    </div>

              </ion-item>

            </ion-list>


  <!--  -->



              <!-- <ion-list lines="none">

                  <ion-item>
                      <ion-icon slot="start" color="lightgrey" size="small" name="person-outline"></ion-icon>
                      <ion-input type="text" formControlName="firstname" placeholder="First name"></ion-input>
                  </ion-item>

                  <ion-item>
                      <ion-icon slot="start" color="lightgrey" size="small" name="people-outline"></ion-icon>
                      <ion-input type="text" formControlName="lastname" placeholder="Lastname"></ion-input>
                  </ion-item>

                  <ion-item>
                      <ion-icon slot="start" color="lightgrey" size="small" name="call-outline"></ion-icon>
                      <ion-input type="number" formControlName="phone" placeholder="phone"></ion-input>
                  </ion-item>

                  <ion-item>
                      <ion-icon slot="start" color="lightgrey" size="small" name="mail-outline"></ion-icon>
                      <ion-input type="text" formControlName="username" placeholder="Username(email)"></ion-input>
                  </ion-item>

                  <ion-item>
                      <ion-icon slot="start" color="lightgrey" size="small" name="key-outline"></ion-icon>
                      <ion-input type="text" formControlName="password" placeholder="Password"></ion-input>
                  </ion-item>

              </ion-list> -->

              <!-- Error meassage -->
              
              
             

              <ion-text color="danger">
                  <p *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.touched">
                      <ion-icon name="information-circle-outline"></ion-icon> Username must be e-mail!
                  </p>
              </ion-text>
              <ion-text color="danger">
                  <p *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.touched">
                      <ion-icon name="information-circle-outline"></ion-icon> Password field must be at least 6 characters
                      long!
                  </p>
              </ion-text>

              <!-- Submit button -->
              <span >
                <p class="ion-text-right">Forgot password?</p>
              </span>
              <ion-button mode="ios" color="thapsblue" expand="block" class="ion-margin-top" [disabled]="!registerForm.valid"
                  (click)="signInUser()">
                  Sign In
              </ion-button>
              <ion-button mode="ios" color="thapsblue" expand="block" fill="outline" class="ion-margin-top"
                  routerLink="/signup">
                  Create an Account
              </ion-button>
              <ion-text class="ion-text-center" >
                  <p  class="ion-text-center ion-margin-bottom main-header8">
                      By clicking Sign in you agree to the following Terms and Conditions without reservation
                  </p>
              </ion-text>
              <p class="ion-text-center"><a class="ion-text-center">Clickinn Terms of Service</a></p>
          </form>

      </div>
</ion-grid>
</ion-content>