

<ion-content fullscreen="true" (ionScroll)="onScroll($event)" [scrollEvents]="true" [class.transition]="transition">
  
  <ion-header class="ion-no-border" slot="fixed">
    <ion-toolbar class="first" [class.show-background]="showToolbar">
      <ion-buttons slot="start">
        <ion-back-button mode="md" color="light" defaultHref="#"></ion-back-button>
      </ion-buttons>

      <!-- <ion-title  class="main-header4" color="light" [class.show-title]="showToolbar">{{(itemDetail | async)?.title}}</ion-title> -->

      <ion-buttons color="light" slot="end">
        <ion-button color="light">
          <ion-icon slot="icon-only" ios="heart-outline"></ion-icon>
        </ion-button>

        <ion-button color="light" routerLink="/home" routerDirection="root">
          <ion-icon slot="icon-only" ios="home-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>



      <!--*****************************-->
      <!--******* Image header  *******-->
      <!--*****************************-->

      <!-- <div *ngIf="(itemDetail | async)?.recommended"  class="ribbon pop-in">Best</div> -->
      <div class="detail-header" [ngStyle]="{'background-image': 'url(' + room?.display_pic_url + ')'}">
        <ion-grid fixed class="ion-no-padding">

          <div class="detail-price">
            <h1 class="main-b-header4 margin-top-10">
              Price: {{ room.rent | currency : 'ZAR' : 'symbol' :
              '1.0-0' }}
              <!-- <span *ngIf="itemDetail.type===false"  class="ribbon pop-in">Sold</span> -->
            </h1>
          </div>
          <div class="detail-sfeatured">
            <h2 class="main-header7 ">
              {{room.room_type}}
            </h2>
          </div>
          <!-- <div *ngIf="(itemDetail | async)?.new" class="real-tags-bottom">Edit</div> -->
        </ion-grid>
      </div>


    <ion-grid fixed class="ion-no-padding">
      <ion-list-header class="margin-bottom-10">
        <ion-label class="margin-top-3 travel_header2">
          {{room.furnished ? "Fully furnished " : ""}} {{room.room_type}} </ion-label>
      </ion-list-header>

      <div class="ion-padding">
        <p class="margin-left-5 margin-top-0">
          {{room.description}}
        </p>
      </div>


      <ion-slides class="swiper-container margin-left-10" pager= false [options]="sliderOpts" #slidesne>
        <ion-slide *ngFor="let pic of pictures; let i = index" (click)="openPic(i)">
          <ion-card mode="ios" class="main-h-card real-card1 slide-right">
            <img src="{{pic.url}}" class="slide-img">
          </ion-card>
        </ion-slide>
      </ion-slides>

      <!--*********** Features ***********-->

      <ion-item lines="none">
        <h1 class="main-header5">Amenities</h1>
      </ion-item>
      <div class="">

        <ion-grid style="margin-left: 30px;">
          <ion-row wrap>

              <ion-col tappable size-lg="6" size-md="6" size-sm="12" size="12">
                <ion-item class="ion-no-margin ion-no-padding" lines="none">
                  <ion-icon class="margin-right-15" name="checkmark-circle-outline" color="greensea" slot="start">
                  </ion-icon>
                  <ion-label>
                    <h2>Furnished:</h2>
                  </ion-label>
                  <ion-label>
                    <h3>{{room.furnished}}</h3>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col tappable size-lg="6" size-md="6" size-sm="12" size="12">
                <ion-item class="ion-no-margin ion-no-padding" lines="none">
                  <ion-icon class="margin-right-15" name="checkmark-circle-outline" color="greensea" slot="start">
                  </ion-icon>
                  <ion-label>
                    <h2>Accredited:</h2>
                  </ion-label>
                  <ion-label>
                    <h3>{{room.accredited}}</h3>
                  </ion-label>
                </ion-item>
              </ion-col>
            
              <ion-col tappable size-lg="6" size-md="6" size-sm="12" size="12">
                <ion-item class="ion-no-margin ion-no-padding" lines="none">
                  <ion-icon class="margin-right-15" name="checkmark-circle-outline" color="greensea" slot="start">
                  </ion-icon>
                  <ion-label>
                    <h2>Parking:</h2>
                  </ion-label>
                  <ion-label>
                    <h3>{{room.property.parking}}</h3>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col tappable size-lg="6" size-md="6" size-sm="12" size="12">
                <ion-item class="ion-no-margin ion-no-padding" lines="none">
                  <ion-icon class="margin-right-15" name="checkmark-circle-outline" color="greensea" slot="start">
                  </ion-icon>
                  <ion-label>
                    <h2>Gym:</h2>
                  </ion-label>
                  <ion-label>
                    <h3>{{room.property.gym}}</h3>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col tappable size-lg="6" size-md="6" size-sm="12" size="12">
                <ion-item class="ion-no-margin ion-no-padding" lines="none">
                  <ion-icon class="margin-right-15" name="checkmark-circle-outline" color="greensea" slot="start">
                  </ion-icon>
                  <ion-label>
                    <h2>Wifi:</h2>
                  </ion-label>
                  <ion-label>
                    <h3>{{room.property.wifi}}</h3>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col tappable size-lg="6" size-md="6" size-sm="12" size="12">
                <ion-item class="ion-no-margin ion-no-padding" lines="none">
                  <ion-icon class="margin-right-15" name="checkmark-circle-outline" color="greensea" slot="start">
                  </ion-icon>
                  <ion-label>
                    <h2>Pool:</h2>
                  </ion-label>
                  <ion-label>
                    <h3>{{room.property.pool}}</h3>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col tappable size-lg="6" size-md="6" size-sm="12" size="12">
                <ion-item class="ion-no-margin ion-no-padding" lines="none">
                  <ion-icon class="margin-right-15" name="checkmark-circle-outline" color="greensea" slot="start">
                  </ion-icon>
                  <ion-label>
                    <h2>Laundry facilities:</h2>
                  </ion-label>
                  <ion-label>
                    <h3>{{room.property.laundry}}</h3>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col tappable size-lg="6" size-md="6" size-sm="12" size="12">
                <ion-item class="ion-no-margin ion-no-padding" lines="none">
                  <ion-icon class="margin-right-15" name="checkmark-circle-outline" color="greensea" slot="start">
                  </ion-icon>
                  <ion-label>
                    <h2>TV room:</h2>
                  </ion-label>
                  <ion-label>
                    <h3>{{room.property.tv_room}}</h3>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col tappable size-lg="6" size-md="6" size-sm="12" size="12">
                <ion-item class="ion-no-margin ion-no-padding" lines="none">
                  <ion-icon class="margin-right-15" name="checkmark-circle-outline" color="greensea" slot="start">
                  </ion-icon>
                  <ion-label>
                    <h2>Security:</h2>
                  </ion-label>
                  <ion-label>
                    <h3>{{room.property.security}}</h3>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col tappable size-lg="6" size-md="6" size-sm="12" size="12">
                <ion-item class="ion-no-margin ion-no-padding" lines="none">
                  <ion-icon class="margin-right-15" name="checkmark-circle-outline" color="greensea" slot="start">
                  </ion-icon>
                  <ion-label>
                    <h2>Electricity inclusive:</h2>
                  </ion-label>
                  <ion-label>
                    <h3>{{room.property.electricity_inclusive_in_rent}}</h3>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col tappable size-lg="6" size-md="6" size-sm="12" size="12">
                <ion-item class="ion-no-margin ion-no-padding" lines="none">
                  <ion-icon class="margin-right-15" name="checkmark-circle-outline" color="greensea" slot="start">
                  </ion-icon>
                  <ion-label>
                    <h2>Genders accepted:</h2>
                  </ion-label>
                  <ion-label>
                    <h3>{{room.property.genders_housed}}</h3>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col tappable size-lg="6" size-md="6" size-sm="12" size="12">
                <ion-item class="ion-no-margin ion-no-padding" lines="none">
                  <ion-icon class="margin-right-15" name="checkmark-circle-outline" color="greensea" slot="start">
                  </ion-icon>
                  <ion-label>
                    <h2>Minutes to campus:</h2>
                  </ion-label>
                  <ion-label>
                    <h3>{{room.property.minutes_from_campus}}</h3>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col tappable size-lg="6" size-md="6" size-sm="12" size="12">
                <ion-item class="ion-no-margin ion-no-padding" lines="none">
                  <ion-icon class="margin-right-15" name="checkmark-circle-outline" color="greensea" slot="start">
                  </ion-icon>
                  <ion-label>
                    <h2>Deposit specifics:</h2>
                  </ion-label>
                  <ion-label>
                    <h3>{{room.property.deposit_specifics}}</h3>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col tappable size-lg="6" size-md="6" size-sm="12" size="12">
                <ion-item class="ion-no-margin ion-no-padding" lines="none">
                  <ion-icon class="margin-right-15" name="checkmark-circle-outline" color="greensea" slot="start">
                  </ion-icon>
                  <ion-label>
                    <h2>Other amenities:</h2>
                  </ion-label>
                  <ion-label>
                    <h3>{{room.property.other_amenities}}</h3>
                  </ion-label>
                </ion-item>
              </ion-col>
        
          </ion-row>
        

        <ion-row>
          <!--*********** location ***********-->
          <ion-col size-lg="6" size-md="6" size-sm="12" size="12">
            <ion-item lines="none">
              <h1 class="main-header5">Location</h1>
            </ion-item>

            <ion-item lines="none" class="ion-wrap">
              <ion-icon class="margin-left-8"  name="navigate-circle-outline" slot="start" color="medium" size="large"></ion-icon>
              <ion-label class="ion-text-wrap">
                <h2 *ngIf="room.property.address.house_number != ''">{{room.property.address.house_number}} {{room.property.address.street}}, 
                  {{room.property.address.neighbourhood}}
                </h2>
                <h2 *ngIf="room.property.address.house_number == ''">{{room.property.address.place_name}}
                </h2>
              </ion-label>
            </ion-item>
          </ion-col>

          <ion-col size-lg="6" size-md="6" size-sm="12" size="12">
            <ion-item lines="none" *ngIf="room.property.uploader_pic">
              <h1 class="main-header5">Contact agent</h1>
            </ion-item>
            <ion-item lines="none" style="padding: 0px !important;" *ngIf="room.property.uploader_pic">
              <ion-avatar slot="start">
                <img src="{{room.property.uploader_pic}}" (load)="updateDisplayPicLoaded()" [hidden]="!uploader_pic_loaded">
			          <img src="../../../assets/imgs/plain-gray-background.jpeg" [hidden]="uploader_pic_loaded">
              </ion-avatar>
              <ion-label>
                <h3 class="main-header6">{{room.property.uploader_name}}</h3>
                <h3 class="main-header6">Agent</h3>
              </ion-label>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-grid>
      </div>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button id="open-modal"  expand="block" (click)="gotoAppointment()">
            <ion-icon slot="start" name="call-outline"></ion-icon>
            Set Viewing Appointment
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button  expand="block">
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            Chat With Agent
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

