<ion-header>
  <ion-toolbar color="thapsblue">
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light" defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>My Appointments</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container" *ngIf="appointments.length == 0">
    <ion-icon name="bulb-outline" class="empty-icon-circle icon-large empty-icon-color"></ion-icon>
    <br>
    <strong class="capitalize">
      <ion-text color="lightgray">No Appointments</ion-text>
    </strong>
   <!--  <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p> -->
  </div>
  <ion-list>
    <ion-item *ngFor="let appointment of appointments; let i = index" (click)="gotoAppointment(appointment.appointment_id)" class="ion-margin-end">
      <ion-avatar slot="start">
        <img class="room-img" src="{{appointment.rooms[0].display_pic_url}}" (load)="updateRoomPicLoaded(i)" [hidden]="!appointment.rooms[0].dp_loaded">
        <img class="room-img" src="../../../assets/imgs/plain-gray-background.jpeg" [hidden]="appointment.rooms[0].dp_loaded">
      </ion-avatar>
      <ion-label>
        <h3>
          {{ appointment.location.house_number }} {{ appointment.location.street }}, {{ appointment.location.neighbourhood }} 
        </h3>
        <p class="ion-text-wrap">
          {{formatDate(appointment?.date)}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
